<%= turbo_frame_tag dom_id(@project, [@hostname, :request_total].join('-')) do %>
  <div class="progress-bar bg-gray-300" style="height: 5px; width: 100%;">
    <div class="progress bg-blue-500" data-refresh-target="progressBar" style="height: 100%; width: 100%;"></div>
  </div>
  <div class="flex flex-col bg-gray-400/5 p-8">
    <dd class="card-heading">
      Total Requests
    </dd>
    <dt class="stat-chart">
      <%= number_with_delimiter @total_sum %>
    </dt>
  </div>
<% end %>
