<div class="lg:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1"></div>
  <div class="mt-5 flex lg:ml-4 lg:mt-0">
    <span class="hidden sm:block">
      <button data-controller="dark-mode" data-action="click->dark-mode#toggle" class="btn btn-default">Dark Mode</button>
    </span>
  </div>
</div>

<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-10">
  <h1 class="text-2xl text-center font-semibold text-gray-normal mb-8">Editing project</h1>

  <%= render "form", project: @project %>

  <div class="text-center mt-6">
    <%= link_to "Back to projects", projects_path, class: "text-gray-light px-4 transition duration-150 ease-in-out" %>
  </div>
</div>
