<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-10">
  <h1 class="text-2xl text-center font-semibold text-gray-900 mb-8">Editing project</h1>

  <%= render "form", project: @project %>

  <div class="text-center mt-6">
    <%= link_to "Back to projects", projects_path, class: "text-blue-600 px-4 hover:text-blue-800 transition duration-150 ease-in-out" %>
  </div>
</div>
