<div class="lg:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= @project.title %></h2>
    <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
      <div class="mt-2 flex items-center text-sm text-gray-500">
        <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
        </svg>
        <%= link_to project_ingress_url(@project), project_ingress_url(@project) %>
      </div>
    </div>
  </div>

  <div class="mt-5 flex lg:ml-4 lg:mt-0">
    <span class="hidden sm:block">
      <%= link_to edit_project_path(@project), class: "inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
        <svg class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
        </svg>
        Edit
      <% end %>
    </span>
  </div>
</div>


<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">web server 1</h2>
      </div>
      <dl class="mt-8 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-3">
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">
            <canvas id="cpuUsage"></canvas>
          </dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">CPU Usage</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">
            <canvas id="freeMemory"></canvas>
          </dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">Memory Usage</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-6xl font-semibold leading-6 mt-5 text-gray-600">
            918Gi
          </dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">Disk Free</dd>
        </div>
      </dl>
      <dl class="mt-8 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-1 lg:grid-cols-1">
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">
            <canvas id="cpuHistory"></canvas>
          </dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">CPU History</dd>
        </div>
      </dl>
    </div>
  </div>
</div>


<script>
  var ctx = document.getElementById('cpuHistory');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['9:01pm', '9:02pm', '9:03pm', '9:04pm', '9:05pm', '9:06pm', '9:07pm'],
      datasets: [{
        label: 'CPU Usage',
        data: [65, 59, 80, 81, 56, 55, 40],
        fill: true,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    }
  });
</script>

<script>
  var ctx = document.getElementById('freeMemory');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [
        'Used',
        'Free'
      ],
      datasets: [{
        label: 'Memory',
        data: [300, 100],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)'
        ],
        hoverOffset: 4
      }]
    }
  });
</script>

<script>
  var ctx = document.getElementById('cpuUsage');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [
        'Active',
        'Idle'
      ],
      datasets: [{
        label: 'CPU Usage',
        data: [300, 100],
        backgroundColor: [
          'rgb(54, 162, 235)',
          'rgb(235, 235, 235)'
        ],
        hoverOffset: 4
      }]
    }
  });
</script>
