<%= turbo_frame_tag dom_id(@project, [@hostname, :memory_usage].join('-')) do %>
  <div class="progress-bar" style="height: 5px; width: 100%;">
    <div class="progress" data-refresh-target="progressBar" style="height: 100%; width: 100%;"></div>
  </div>
  <div class="flex flex-col items-center justify-center bg-gray-400/5 p-8">
    <dt class="pie-chart">
      <canvas class="chart"
        data-controller="pie-chart"
        data-pie-chart-label-value="Memory Usage"
        data-pie-chart-idle-value="<%= @service.mem_free %>"
        data-pie-chart-idle-label-value="Idle"
        data-pie-chart-idle-color-value="rgb(235, 235, 235)"
        data-pie-chart-used-value="<%= @service.mem_used %>"
        data-pie-chart-used-label-value="Active"
        data-pie-chart-used-color-value="rgb(54, 162, 235)"></canvas>
    </dt>
    <dd class="card-heading">Memory Usage</dd>
  </div>
<% end %>
