<%= turbo_frame_tag dom_id(@project, [@hostname, :memory_history].join('-')) do %>
  <div class="progress-bar" style="height: 5px; width: 100%;">
    <div class="progress" data-refresh-target="progressBar" style="height: 100%; width: 100%;"></div>
  </div>
  <div class="flex flex-col bg-gray-400/5 p-2">
    <dt class="line-chart">
      <canvas data-controller="line-chart"
        data-line-chart-label-value="Memory Used History"
        data-line-chart-label-array-value="<%= @memory_history_data[:created_at_times] %>"
        data-line-chart-data-array-value="<%= @memory_history_data[:memory_usages] %>"
        data-line-chart-color-value="rgb(54, 162, 235)"></canvas>
    </dt>
    <dd class="card-heading">Memory Used History</dd>
  </div>
<% end %>
