<%= turbo_frame_tag dom_id(@project, [@hostname, :cpu_usage].join('-')) do %>
  <div class="progress-bar" style="height: 5px; width: 100%;">
    <div class="progress" data-refresh-target="progressBar" style="height: 100%; width: 100%;"></div>
  </div>
  <div class="flex flex-col items-center justify-center bg-gray-400/5 p-8">
    <dt class="pie-chart">
      <canvas data-controller="pie-chart"
        data-pie-chart-label-value="CPU Usage"
        data-pie-chart-idle-value="<%= 100.0 - @service.cpu %>"
        data-pie-chart-idle-label-value="Idle"
        data-pie-chart-used-value="<%= @service.cpu %>"
        data-pie-chart-used-label-value="Active"></canvas>
    </dt>
    <dd class="card-heading">CPU Usage</dd>
  </div>
<% end %>
